<!--how to dynamicly load the header-->
<%- include('../partials/header.ejs')%>

                <main>
                    
                    <article>

                        <p class="homeText">About Book Cover Corner
                            <br><br>
                                Platform to Attend and create booking events to connect with fellow book lovers. Find other people who share the same interests as you.
                            <br><br>    
                                Check out the Connections section to browse avalible connections!
                        </p>
                    
                    </article>        
                
                </main>

<%- include('../partials/footer.ejs')%>   