<!--how to dynamicly load the header-->
<%- include('../partials/header.ejs')%>

                <main>
                    
                    <article>

                        <p class="homeText">Contact US
                            <br><br>
                                Address - 9201 University City Blvd, Charlotte, NC 28223
                            <br><br>    
                                Phone- (704) 555-8622
                        </p>
                    
                    </article>        
                
                </main>

<%- include('../partials/footer.ejs')%>   