<!--how to dynamicly load the header-->
<%- include('../partials/header.ejs')%>

<main class="connectionsMain">
    <form action = '/stories' method = 'POST'>
                    
        <p class="homeText connectionsText" >Topic</p>
        <input class="test3" name="group" type="text" required>
        <br>
        <br>

        <p class="homeText connectionsText" >Title</p>
        <input class="test3" name="title" type="text" placeholder="  Title" required>
        <br>
        <br>

        <p class="homeText connectionsText">Location</p>
        <input class="test3" name="location" type="text" placeholder="  Location" required>
        <br>
        <br>
                        
        <p class="homeText connectionsText">Author</p>
        <input class="test3" name="author" type="text" placeholder="  Author" required>
        <br>
        <br>

        <p class="homeText connectionsText">Content</p>
        <textarea rows="2" name="content" placeholder=" description" required minlength="10"></textarea>
        <br>
        <br>
        <br>

        <p class="homeText connectionsText">When</p>
        <input class="test3" name="createdAt" type="date" required>
        <br>
        <br>

        <p class="homeText connectionsText ">Start Time</p>
        <input class="time" name="startTime" type="time" required>
        <br>
        <br>

        <p class="homeText connectionsText">End Time</p>
        <input class="time" name="endTime" type="time" required>
        <br>
        <br>

        <p class="homeText connectionsText">Image URL</p>   
        <input class="test3" type="url" name="url" placeholder="  imageUrl" required>
            <br>
            <br>

        <button>Submit</button>
     </form>
</main>

<%- include('../partials/footer.ejs')%>