</div>
<footer id="footer">
    <nav>
        <ul>
            <li class="remove"><a href="">&copy;BCC Connections</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <section class="footer-imgs">
        <a href=""><img class="facebook-logo" src="/images/fb-w64-h64.png" alt="picture of a facebook logo"></a>
        <a href=""><img class="twitter-logo" src="/images/twitter-w64-h64.png" alt="picture of twitter logo"></a>
    </section>
</footer>
</div>

</body>
</html>