<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta charset="UTF-8">
        <title>Book Cover Corner - Home</title>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>

                    <a href="/"><img src="/images/pngaaa.com-w495-h269.png" alt="Picture of book cover corner" ></a>

                    <!--User Specific Navigation-->
                    <nav class="inline rightside nav-height">
                        <ul>
                            <li><a href="/stories/new">Start a new Connection</a></li>
                            
                            <li><a href="/">Login</a></li>
                            
                            <li><a href="/">Sign up</a></li>
                        </ul>
                    </nav>
                    
                    <hr>

                    <!--General Site Navigation-->
                    <nav>
                        <ul>
                            <li><a href="/stories">Connections</a></li>
                        </ul>
                    </nav>
                </header>