<!--how to dynamicly load the header-->
<%- include('./partials/header.ejs')%>

                <main>
                    
                    <article>

                        <p class="homeText">Welcome to Book Cover Corner
                            <br><br>
                                Attend and create booking events to connect with fellow book lovers. Find other people who share the same interests as you, or branch out and try a new genre and expand your horizons.
                            <br><br>    
                                Check out the Connections section to browse avalible connections!
                        </p>
                    
                    </article>        
                
                </main>

<%- include('./partials/footer.ejs')%>          