
html body main p img a article section nav li ul footer header{
    display: block;
    
}

body {
    margin: 0;
    padding: 0;
    min-width: 40vh;
    background-color: rgb(191, 192, 192);

}

main{
    color: rgb(45, 49, 66);
}

hr {
    display:block;
    min-width: 500px;
}

ul {
    margin: 0;
    padding:0;
}

.footer-imgs {
    float: right;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: 2%;
    margin-top: .5%;
}
.twitter-logo {
    width: 34px;
    display: inline-block;
}

.facebook-logo {
    display: inline-block;
    width: 30px;   
}

header, footer {
    background-color:rgb(79, 93, 117);
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    color:#FFFFFF;
}

#page-container {
    /*Setting vh to the entire page and storing all of the body in it */
    position: relative;
    min-height: 99vh;
  }
  
  /* This is for the Footer's height */
  #content-wrap {
    padding-bottom: 3rem;    
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
  }


header>a>img {
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    width: 10%;
    min-width: 125px;
    padding-left: 4%;
}

header>nav {
    
    display: inline-block;
    width: 50%;
    padding-left: 4%;
   }

footer>nav {
    display: inline-block;
    width: 65%;
    padding-left: 4%;
    margin-top: .5%;
}

li {
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
}

ul>li>a {
    display:inline-block;
    margin: auto;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.nav-height{
    position: relative;
    float: right;
    padding-top: 2%;
    min-width: 400px;
    padding-right: 2%;
    
}


ul>li>a:hover {
    text-decoration: underline;
    color: #a0a0a0;
}

.rightside {
    text-align: right;
    width: 70%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;   
}

.homeText {
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 30px;
}

button {
    background-color:rgb(79, 93, 117);
    color: white;
    height: 30px;
    width: 70px;
    margin-left: 2%;  
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-right: 10px;
}

.button-margin{
    display: flex;
    float: right; 
}

button:hover {
    cursor: pointer;
    background-color:rgb(48, 78, 130);
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3*/
/*^ what i used to learn how to do this button w3schools.com*/
button:active {
    background-color:rgb(48, 78, 130);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.float-left {
    display: flex;
    float:left;
    margin: 0%;
    padding: 0%;
}

.tab {
    margin-left: 6%;
}


section>article>a{
    text-decoration: none;
    color: black;
}

section>article>a:hover {
    text-decoration: underline;
    color: rgb(70, 66, 66);
}

footer>nav>ul>li>a {
    padding-top: 1%;

}

li.remove>a:hover{
    text-decoration: none;
    color: #FFFFFF;
    cursor: default;
}

.connectionText{
    margin: auto;
    margin-bottom: 2%;
}

.test1 {
    width: 100%;
    height: 100%;
}

.test2 {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.connectionImg {
    margin-top: 5vh;
    height: 175px;
    float: left;
    margin-right: 2%;
}

main {
    margin-top: 30px;
}

.connectionsText{
    display: inline;
    margin-top: 4%;
    margin-right: 8%;
}

.connectionsMain{
    text-align: right;
}

textarea {
    float: right;
    width: 50.5%;
    max-width: 50.5%;
    margin-right: 18%; 
    min-width: 50.5%;
    max-height: 50px;   
}

input.test3 {
    width: 50%;
    height: 25px;
    padding: auto;
    margin-top: auto;
    float: right;
    margin-right: 18%;
}

input.time {
    width: 15%;
    height: 25px;
    padding: auto;
    margin-top: auto;
    float: right;
    margin-right: 53%;
}
